.choice-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid #b300b3;
    border-radius: 0.5rem;
    background-color: #ffffff;
  }
  
  .choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(168, 86, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 120ms;
  }
  
  .choice-text {
    padding: 1.4rem;
    width: 100%;
  }

  .correct{
    background-color: green;;
    color: #ffffff;
  }
  
  .correct .choice-text{
     color: #ffffff;
  }

  .incorrect{
    background-color: red;
    color: #ffffff;
  }

  .incorrect .choice-text{
      color: #ffffff;
  }

  #head {
    display: flex;
    justify-content: space-between;
  }
  
  .head-prefix {
    text-align: center;
    font-size: 1.6rem;
  }
  
  .head-main-text {
    text-align: center;
  }

 #nextbutn {
    margin: 2rem auto;
    width: 13rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: #b300b3;
  }

 #nextbutn h3 {
    font-size: 2rem;
    color: #fdfbfb;
    text-align: center;
    padding: 0.5rem;
    margin: 0;
    height: 30px;
  }

 #nextbutn:hover {
   cursor: pointer;
   box-shadow: 0 0.4rem 1.4rem 0 rgba(168, 86, 2535, 0.5);
   transform: translateY(-0.1rem);
   transition: transform 120ms;
  }

