.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid #b300b3;
    border-radius: 0.5rem;
    background-color: #ffffff;
  }
  
  .choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(150, 106, 255, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
  .choice-text {
    padding: 1.5rem;
    width: 100%;
  }

  .correct {
    background-color: #008000;
    color: #ffffff;
  }
  
  .correct .choice-text{
     color: #ffffff;
  }

  .incorrect {
    background-color: #ff0000;
    color: #ffffff;
  }

  .incorrect .choice-text{
      color: #ffffff;
  }

  #head {
    display: flex;
    justify-content: space-between;
  }
  
  .head-prefix {
    text-align: center;
    font-size: 2rem;
  }
  
  .head-main-text {
    text-align: center;
  }

 #nextbutn {
   margin-top: 3rem;
   padding: 0.5rem;
   background-color: #b300b3;
   width: 14rem;
   margin: 2rem auto;
   border-radius: 1rem;
  }

 #nextbutn h3 {
   color: #ffffff;
   text-align: center;
   margin: 0;
  }

 #nextbutn:hover {
   cursor: pointer;
   box-shadow: 0 0.4rem 1.4rem 0 rgba(150, 106, 255, 0.5);
   transform: translateY(-0.1rem);
   transition: transform 150ms;
  }
